.header-container {
    margin: 0 !important;
    max-width: 100% !important;
    background-color: #293133;
    padding: 0 10px 0 40px !important;
}

#main-menu {
    margin-right: 50px;
}

.header-container a, #main-menu li a {
    color: #f8f9fa;
}

#hero-image {
    display: none;
}

.row {
    margin: 0 !important;
    width: 100% !important;
}

.sidebar {
    padding: 25px;
}

.container-fluid {
    padding: 0;
}

.nav-item {
    margin-bottom: 10px;
}

nav {
    background: #3C4345;
}

nav ul {
    margin-left: 10px;
}

textarea {
    height: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

tr {
    text-align: center;
}

.table-title {
    font-size: 1.2em;
}

input[type='number'] {
    width: 40px;
}

input[type='submit'] {
    width: 25%;
}

#body-container {
    margin-bottom: 0 !important;
}

