html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

#page-content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

header > .header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 1080px;
    width: 100%;
    height: 50px;
    margin: auto auto 10px auto;
}

a:hover, button:hover, input[type="submit"]:hover {
    transform: translateY(3px);
}

#company-name {
    display: flex;
    margin: auto 0;
}

#main-menu {
    margin: auto 0;
    display: flex;
    list-style-type: none;
}

#main-menu > li {
    margin-left: 50px;
}

#main-menu li a {
    color: black;
    text-decoration: none;
}

#hero-image {
    position: relative;
    display: flex;

    margin-bottom: 50px;
    padding: 1px;
    overflow: hidden;

    width: 100%;
    height: 800px;
    background: url('../images/header.jpg') no-repeat center;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

#hero-image img {
    display: none;
}

.hero-image-content {
    position: absolute;
    width: 40%;
    top: 50%;
    right: 50%;
    transform: translate(0, -50%);
    padding: 30px 0;

    background: rgba(255, 255, 255, .5);
    border-radius: 10px;

    text-align: center;
    color: #3C4345;

}

#hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #87CEFA;
    opacity: 0.2;

}

#body-container {
    max-width: 100%;
    width: 1920px !important;
    margin-bottom: 50px;
}

.row {
    margin: auto auto 50px auto !important;
    width: 90%;
}

.row section {
    width: 100%;
    text-align: justify;

}

.row section .post-container {
    display: flex;
    justify-content: space-between;
}

.row section article {
    width: 50%;
    padding: 10px 20px;

    border-radius: 20px;
    -webkit-box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
    background: white;
}

.row:nth-child(2) section .post-container {
    flex-direction: column;
    align-items: flex-end;

}

section .post-buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    padding: 10px;
}

.social-icons {
    display: flex;

}

.social-icons a:first-child {
    margin-left: 0;
}

.social-icons a {
    font-size: 1.5em;
    margin-left: 1rem;
    color: #005ED4;
}

footer {
    height: 75px;
    background: #293133;
}

footer .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.footer-block {
    margin: auto 0;
}

.single-chapter {
    width: 90%;
    margin: 0 auto;
}

.chapter-content {
    text-align: justify;
    columns: 2;
    column-gap: 100px;
    margin-bottom: 50px;
}

.single-chapter h1, .single-chapter h2 {
    text-align: center;
}

.single-chapter h1 {
    margin-bottom: 20px;

}

.single-chapter {
    margin-bottom: 50px;
}

.comments-section {
    margin: 0 auto;
    padding: 10px;
    width: 90%;

    background: white;
}

.comments {
    margin-left: 50px;
}

.chapter-navigation {
    display: flex;
    justify-content: center;
}

.chapter-previous {
    margin-right: 25px;
}

.chapter-next {
    margin-left: 25px;
}

#comment-form {
    margin-left: 50px;
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 95%;
}

.list-chapter {
    list-style-type: none;
}

input, textarea {
    margin-bottom: 20px !important;
    border: 2px rgba(0, 0, 0, .1) solid;
    border-radius: 5px;
}

#comment-form input {
    width: 50%;
}

#comment-form textarea {
    width: 90%;
    height: 300px;
}

#comment-form label {
    font-size: 1.2em;
    text-transform: capitalize;
}

#comment-form input[type="submit"] {
    width: 25%;
}

#user-form {
    display: flex;
    flex-direction: column;
    margin: auto;

}

#login-form {
    margin: auto;
    width: 40%;
}

#user-form {
    width: 50%;
}

input[type=submit] {
    width: 50%;
    margin: auto;
}

.group-form {
    display: flex;
    flex-direction: column;
}

#pagination-nav {
    display: none;
}

#about {
    width: 75%;
}

#error-404 {
    align-items: center;
    width: 75%;

}

#error-404 i {
    font-size: 10em;
}

footer a {
    color: white;
}

@media screen and (max-width: 1024px) {
    header > .header-container {
        max-width: 100%;
        padding: 0 0 !important;
        justify-content: space-around;
    }

    #main-menu > li {
        margin-left: 10px;
        text-align: center;
    }

    #hero-image {
        height: 400px;
    }

    #body-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .row {
        width: 45%;
        margin: 0 auto !important;
    }

    .row section article {
        width: 100%;
    }

}

@media screen and (max-width: 670px) {
    #main-menu li {
        font-size: 70%;
    }

    #hero-image {
        height: 200px;
    }

    .hero-image-content {
        padding: 10px;
    }

    .hero-image-content h1 {
        font-size: 1.2rem;
    }

    #body-container {
        flex-direction: column;
        align-items: center;

    }

    .row {
        width: 95%;
        margin-bottom: 50px !important;

    }

    .chapter-content {
        text-align: justify;
        columns: 1;
    }

    form {
        margin: auto !important;
        align-items: center;
    }

    .group-form {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .chapter-navigation {
        justify-content: space-around;
    }

    .chapter-next {
        margin-left: unset;
    }

    .btn {
        padding: 5px !important;
    }
}
