{% extends "back_template.html.twig" %}
{% block adminContent %}
    <h2>{{ title }}</h2>
    <p>Créé le {{ chapter.added|localizeddate('long', 'short',  locale) }}</p>
    {% if chapter.updated is not null %}
        <p>Dernière mise à jour le {{ chapter.updated|localizeddate('long', 'short',  locale) }}</p>
    {% endif %}
    {% if form is not null %}
        {{ form|raw }}
    {% endif %}
{% endblock %}
