{% extends "back_template.html.twig" %}
{% block adminContent %}
    <h2>Modifier l'edito</h2>
    {% if not edito.updated is null %}
        <p>Dernère mise à jour le {{ edito.updated|localizeddate('long', 'short',  locale) }}</p>
    {% endif %}
    {% if form is not null %}
        {{ form|raw }}
    {% endif %}
{% endblock %}
