{% extends "front_template.html.twig" %}
{% block pageTitle %}Le sommaire{% endblock %}

{% block content %}
    {% if not posts is empty %}
        <div class="container">

            <div class="row d-block">
                <h2 class="text-muted text-center">Sommaire</h2>
                <hr>

                {% for post in posts %}
                    <h4>
                        <a href="/chapitres/chapitre-{{ post.number }}#{{ post.number }}"
                           class="text-dark">Chapitre {{ post.number }}
                            : {{ post.title }}</a>
                    </h4>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <p>Le premier chapitre n'est pas encore arrivé, essayer de repasser plus tard.</p>
    {% endif %}
{% endblock %}