{% extends "front_template.html.twig" %}
{% block pageTitle %}Chapitres{% endblock %}

{% block content %}
    {% if not posts is empty %}
        {% for post in posts %}
            <div class="row">
                <div class="listed-article">
                    <h2><a href="/chapitres/chapitre-{{ post.number }}">Chapitre {{ post.number }} : {{ post.title }}</a></h2>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <p>Le premier n'est pas encore arrivé, revenez plus tard.</p>
        </div>
    {% endif %}
{% endblock %}