{% extends "template.html.twig" %}

{% block pageTitle %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <span>Posté le: {{ post.added|date }}</span>
    <p>{{ post.content }}</p>
{% endblock %}