{% extends "front_template.html.twig" %}
{% block pageTitle %}Chapitres{% endblock %}

{% block content %}
    {% if not posts is empty %}
        <div class="row">

            <ul class="list-chapter">

                {% for post in posts %}
                    <li class="listed-article">
                        <h2><a href="/chapitres/chapitre-{{ post.number }}">Chapitre {{ post.number }}
                                : {{ post.title }}</a></h2>
                    </li>
                {% endfor %}
            </ul>

        </div>
    {% else %}
        <p>Le premier n'est pas encore arrivé, revenez plus tard.</p>
    {% endif %}
{% endblock %}