{% extends "template.html.twig" %}

{% block pageTitle %}Administration{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/trumbowyg/dist/ui/trumbowyg.min.css">
{% endblock %}

{% block mainMenu %}
    <li><a href="/">Retourner à l'accueil</a></li>
    <li class="dropdown show d-md-none">
        <a href="#" class="text-white dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false" id="adminMenu">Administration
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="adminMenu">
            <li class="dropdown-item"><a href="/admin/edito" class="text-dark">Edito</a></li>
            <li class="dropdown-item"><a href="/admin/synopsis" class="text-dark">Synopsis</a></li>
            <li class="dropdown-item"><a href="/admin/chapters" class="text-dark">Chapitres</a></li>
            <li class="dropdown-item"><a href="/admin/chapter/new" class="text-dark">Ecrire chapitre</a></li>
            <li class="dropdown-item"><a href="/admin/comments" class="text-dark">Commentaires</a></li>
            <li class="dropdown-item"><a href="/admin/about" class="text-dark">A propos</a></li>
            <li class="dropdown-item"><a href="/admin/user" class="text-dark">Modifier mot de passe</a></li>
        </ul>
    </li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <h5 class="sidebar-heading d-flex align-items-center mt-4 mb-1 text-muted">
                        <a href="/admin" class="nav-link d-flex"><i class="fas fa-tachometer-alt"></i>Administration</a>
                    </h5>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-home"></i>Accueil
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/edito">
                                <span data-feather="file-text"></span>
                                Modifier Edito
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/synopsis">
                                <span data-feather="file-text"></span>
                                Modifier Synopsis
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-book-open"></i>Chapitres
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/chapters">
                                Tous les chapitres
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/chapter/new">
                                Écrire un chapitre
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-comments"></i>Commentaires
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/comments">
                                Modérer les commentaires
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/comments/moderate">
                                Commentaires en attente
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-info-circle"></i>A propos
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/about">
                                Modifier contenu
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-cog"></i>Administration
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/user">
                                Modifier mot de passe
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
                {% if bag.messages is not empty %}
                    {% for message in bag.messages %}
                        <div class="alert alert-{{ bag.messages[0].type }} alert-dismissible fade show"
                             role="alert">
                            {{ bag.getMessage.message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block adminContent %}{% endblock %}
            </main>
        </div>
    </div>



{% endblock %}
    {% block scripts %}
        <script src="/assets/trumbowyg/dist/trumbowyg.min.js"></script>
        <script src="/assets/trumbowyg/dist/plugins/colors/trumbowyg.colors.min.js"></script>
        <script src="/assets/trumbowyg/dist/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
        <script src="/assets/trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.css"></script>
        <script>
            // $ = jQuery regardless of what it means
            // outside this DOM ready function
            $('#content').trumbowyg({
                lang: 'fr',
                imageWidthModalEdit: true,
                btns: [
                    ['fontsize'],
                    ['foreColor', 'backColor'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['insertImage'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ],
            });
        </script>
    {% endblock %}
