{% extends "template.html.twig" %}

{% block pageTitle %}Administration{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Accueil
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/edito">
                                <span data-feather="file-text"></span>
                                Modifier Edito
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/synopsis">
                                <span data-feather="file-text"></span>
                                Modifier Synopsis
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Chapitres
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/chapters">
                                Tous les chapitres
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/chapter/new">
                                Écrire un chapitre
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Commentaires
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Modérer les commentaires
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        A propos
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Modifier contenu
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Administration
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Modifier mot de passe
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% if bag.messages is not empty %}
                    {% for message in bag.messages %}
                        <div class="alert alert-{{ bag.messages[0].type }} alert-dismissible fade show" role="alert">
                            {{ bag.getMessage.message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% block adminContent %}{% endblock %}
            </main>
        </div>
    </div>


{% endblock %}
