<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://localhost:8000/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    {% block head %}{% endblock %}
    <title>Un billet simple pour l'Alaska - {% block pageTitle %}{% endblock %}</title>
    <meta name="description"
          content="Ecrivain et passionné du monde numérique, j'ai créé ce blog afin de vous faire découvrir mon nouveau roman Un billet simple pour l'Alaska que je publierai par chapitre."/>
</head>
<body>
<div id="page-content">
    <header>
        <div class="header-container">
            <div id="company-name">
                <a href="/"><strong>Un billet simple pour l'Alaska</strong></a>
            </div>
            <ul id="main-menu">
                <li><a href="/">Accueil</a></li>
                <li><a href="/chapitres">Chapitres</a></li>
                <li><a href="#">À propos</a></li>
            </ul>
        </div>
    </header>

    {% block heroImage %}
    {% endblock %}

    <div id="body-container">{% block content %}{% endblock %}</div>

    <footer>
        <hr class="footer-separator">
        <div class="container">
            <div class="footer-block">
                <a href="/login">Administration</a>
            </div>
            <div class="footer-block">
                <a href="#">Mentions légales</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}

</div>
</body>
</html>