<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block pageTitle %}{% endblock %} - Nom du blog</title>
</head>
<body>
<div id="page-content">
    {% block content %}{% endblock %}
</div>

</body>
</html>