<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>

    {% block head %}{% endblock %}
    <title>{% block pageTitle %}{% endblock %} - Un billet simple pour l'Alaska</title>
    <meta name="description"
          content="Ecrivain et passionné du monde numérique, j'ai créé ce blog afin de vous faire découvrir mon nouveau roman Un billet simple pour l'Alaska que je publierai par chapitre."/>
</head>
<body>
<div id="page-content" class="bg-light">
    <header>
        <div class="header-container">
            <div id="company-name">
                <a href="/"><strong>Jean Forteroche</strong></a>
            </div>
            <ul id="main-menu">
                {% block mainMenu %}
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/chapitres">Chapitres</a></li>
                    <li><a href="/a-propos">À propos</a></li>
                    {% if session.authenticated is not null and session.authenticated %}
                        <li><a href="/deconnexion">Déconnexion</a></li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </header>

    {% block heroImage %}
    {% endblock %}

    <div id="body-container">{% block content %}{% endblock %}</div>

    <footer>
        <div class="container">
            <div class="footer-block">
                <a href="/admin">Administration</a>
            </div>
            <div class="footer-block">
                <a href="/mentions-legales">Mentions légales</a>
            </div>
        </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="/assets/js/pagination.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#252e39"
                    },
                    "button": {
                        "background": "#14a7d0"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "Ce site utilise des cookies afin d'améliorer votre expérience utilisateur.",
                    "dismiss": "Valider",
                    "link": "En savoir plus"
                }
            })
        });
    </script>
    {% block scripts %}
    {% endblock %}
</div>
</body>
</html>